.ScreenshotScrubberDialogStyle {
    all: revert;
    min-width: 0px;
    min-height: 0px;
    vertical-align: middle;
    line-height: 17px;
  }

  #ScreenScrubberReplacePromptOverlay th, #ScreenScrubberReplacePromptOverlay td, #ScreenScrubberReplacePromptOverlay tr {
    padding: 0px;
    margin: 5px;
    background: none;
    border: none;
    font-family: Segoe UI;
    color: white;
  }

  #ScreenScrubberReplacePromptOverlay table
  {
    margin: 0px;
    height: 190px;
  }

  .ScreenshotScrubberDialogStyle input
  {
    font-family: Segoe UI;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 3px;
    text-indent: 3px;
  }

  .ScreenshotScrubberDialogStyle input[type=text]
  {
    height:16px;
  }

  .ScreenshotScrubberDialogStyle input[type=checkbox]
  {
    opacity:100%; position:relative;left:0px;margin:0px;top:-1px;vertical-align:middle;
  }

  @-webkit-keyframes bluePulse {
    from { background-color: lightsteelblue; -webkit-box-shadow: 0 0 0 #333; }
    to { background-color: cornflowerblue; -webkit-box-shadow: 0 0 18px cornflowerblue; }
  }
  
  .ScreenshotScrubberDialogStyle input[type=button]
  {
    transition: all 0.1s ease-in-out;
    margin: 2px;
  }

  .ScreenshotScrubberDialogStyle input[type=button]:hover
  {
    
    background-color: cornflowerblue;
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 18px cornflowerblue;
    cursor:pointer;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.75;
  }




